<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="Flask App" content="Sample Flask App">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='style.css') }}"></script>
</head>

<body>
	<header>
		<div id="logo"><img src="{{ url_for('static', filename='itstep.png') }}">ITStep Flask App</div>
		{% include 'navigation.html' %}
	</header>
    {% block content %}{% endblock %}
	<footer>
		<p>&copy; Copy Right ItStep Academy</p>
		<address>
			Contact: <a href="mailto:me@example.com">Mail me</a>
		</address>
	</footer>


</body>

</html>
