{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome to our page{% endblock %}</h1>
{% endblock %}


{% block content %}
	<section>
		<strong>Welcome to our Page!</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<h2>Here you will find various information and services</h2>
				<p>Lorem ipsum dolor sit amet, nonumes voluptatum mel ea, cu case ceteros cum. Novum commodo malorum vix ut. Dolores consequuntur in ius, sale electram dissentiunt quo te. Cu duo omnes invidunt, eos eu mucius fabellas. Stet facilis ius te, quando voluptatibus eos in. Ad vix mundi alterum, integre urbanitas intellegam vix in.</p>
			</article>
		</main>

	</section>
{% endblock %}
